[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false
idl-build = ["anchor-lang/idl-build"]

[programs.localnet]
coolrouter = "CATsZNcHms98EcQo1qzGcA3XLPf47NLhQC5g2cRe19Gu"
llm_consumer = "BrRX5CdLjXZDPzaQFY1BnjdsLeqMED1JeKKSjpnaxU1R"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
